@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/cards"; 
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";

$white: #FFF;
$orange: #FFD6A0;
$clouds: #ecf0f1;
$font-color: #41658A;
$light-green: #97d5a4;
$dark-green: #16a085;
$robotfs: 'Roboto', 'Helvitica', 'Verdana';
$openfs: 'Open Sans', 'Helvitica', 'Verdana'; 


// ============= GENERAL CSS ===========================================
@-webkit-keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }     
} 

@-moz-keyframes slidy {     
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }
} 

@-o-keyframes slidy {     
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }
} 

@keyframes slidy {
    0% { left: 0%; }
    20% { left: -100%; }
    25% { left: -100%; }
    45% { left: -200%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -200%; }
    95% { left: -200%; }
    100% { left: -200%; }
}

html, body {
    height: 100%;
    width: 100%;
    background: url('/images/crossword.png') repeat;
}

.fa-none {
    vertical-align: -4%;
}

nav {
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 25px;
    border-top: 4px solid #41658A;

    ul {
        overflow: hidden;
        padding: 0;
    }

    ul a {
        color: $font-color;
        font-size: 1.16rem;
        text-transform: uppercase;
        font-family: $robotfs;
        font-weight: 400;
        padding: 0 22px;
    }

    ul li {
        padding: 18px 0;
    }
}


nav .brand-logo {
    text-align: center;
    color: $font-color;
    font-size: 1.5rem;
    font-family: $openfs;
    font-weight: 700;
}

.site-wrapper {
    position: relative; 
    width: 100%; 
    min-height: 100%
}

.hhs-site-container,
.service-container,
.contact-container {
    position: relative;
}

hr {
    border-color: #bdc3c7;
    border-style: solid;
    margin: 0;
}

.mdi-navigation-menu {
    color: $font-color;
}

.dropdown-content {
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #304A72;
    min-width: 200px;
    max-height: 100%;

    li {
        font-size: 0.8rem;
        text-align: center;
    }

    li a {
        color: $dark-green;
    }
}

.btn {
    color: $white;
    background-color: #16a085;
    border: none;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: uppercase;
}

.btn-default:hover {
    background-color: #97D5A4;
    color: #34495e;
}


// ============= HOME CSS ===========================================

.hhs-header {
    margin-top: 1.6667%;
    position: relative;
    background: url('/images/medical3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 345px;
}

.header-content {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    text-align: left;

    p:nth-child(1) {
        font-family: $openfs;
        font-weight: 400;
        font-size: 22px;
        background-color: #FFF;
        width: 50%;
        padding: 15px 5px;
        margin: 4% 0 1% 1%;
        opacity: 0.8;
        color: #41658A;
    }

    p:nth-child(2) {
        background-color: #41658A;
        opacity: 0.8;
        width: 70%;
        margin: 2% 0 2% 1%;
        font-family: $openfs;
        color: #FFF;
        font-weight: 300;
        font-size: 18px;
        padding: 10px;
    }

    p:nth-child(3) {
        background-color: #FFD6A0;
        width: 60%;
        margin: 1%;
        color: #FFF;
        opacity: 0.9;
        font-size: 22px;
        padding: 10px;
        font-family: $openfs;
        font-weight: 700;
        
    }
}

.home-content {
    h4 {
        font-family: $robotfs;
        font-weight: 500;
        color: $font-color;
    }

    p {
        font-family: $openfs;
        font-weight: 400;
        color: $font-color;
    }
}

.img1 {
    
}

.quote-row {
    padding: 0 10px;
}

.row .quote-container {
    padding: 0;
}

.quote-container {
    // background-color: #FFF;
    width: 100%;
    overflow: hidden;

    .quote-header {
        font-size: 22px;
        text-align: left;
        margin: 0;
        font-family: $openfs;
        font-weight: 400;
        color: $font-color;
        padding-bottom: 5px;
    }
}

.quote-source {
    text-align: right;
    font-weight: 300;
}

.quote-container > .q-wrap > .quote {
    width: 25%;
    float: left;
    height: auto;
    color: $font-color;
    text-align: center;
    font-family: $openfs;
    font-weight: 400;
    font-size: 18px;
}

.q-wrap {
    position: relative;
    width: 400%;  
    margin: 0;
    left: 0;
    text-align: left;
    animation: 15s slidy infinite;
}

.card .card-content {
    padding: 10px 20px;
}

.card a {
    color: $font-color;
}

.card .card-content .card-title {
    line-height: 30px;
}

.card .services-title {
    font-family: $openfs;
    font-weight: 700;
    font-size: 18px;
    color: $font-color;
}

.card .card-image .info-title {
    position: absolute;
    left: 0;
    padding: 20px;
    bottom: initial;
    font-size: 20px;
    color: $font-color;
}

.card.small {
    height: 260px;

    .card-content {
        height: 175px;
    }
}

.services-content {
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FFD6A0));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #FFD6A0 100%);
    color: $font-color;
}
.card.info {
    height: 213px;
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #FFD6A0));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFD6A0 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #FFD6A0 100%);
}


// ============= WHY CSS ===========================================
.why-header {
    font-size: 28px;
    font-family: $openfs;
    font-weight: 500;
    color: $dark-green;
    // background-color: $orange;
}

.why-header h1 {
    font-size: 32px;
    font-family: $robotfs;
    font-weight: 500;
}

.pt-content .why-body {
    font-family: $openfs;
    font-weight: 300;
    font-family: 18px;
}


// ============= CONTACT CSS ===========================================
.contact-info-wrap {
    h4 {
        font-family: $robotfs;
        color: $font-color;
        font-weight: 400;
    }

    p {
        font-family: $openfs;
        color: $font-color;
        font-weight: 400;
    }

    hr {
        border-color: $dark-green;
    }

    iframe {
        width: 70%;
        float: left;
        margin-top: 2%;
    }
}

.contact-info-wrap p:last-child {
    margin: 2% 0 0 2%;
    float: left;    
    font-size: 20px;
}

.container .contact-form-row {
    margin: 0 auto;
}

.form-container {
    margin-top: 4%;
}

.client-type-wrap {

    p {
        font-family: $openfs;
        color: #41658A;
        font-weight: 500;
        font-size: 20px;
        margin-left: 2%;
    }

    .client-type {
        display: inline-block;
        margin: 1% 1% 1% 2%;        
    }
}

.emp-type-wrap,
.job-type {
    
    p {
        font-family: 'Raleway';
        font-family: 500;
        font-size: 20px;
    }    
}

// ============= FORM CSS ===========================================

.contact-form-container {
    // background-color: rgba(84, 110, 122, 0.6);
    // background-color: rgba(48, 74, 114, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
}

.contact-container {
    width: 100%;
}


.input-field label {
    color: #41658A;

}

input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=date], 
input[type=tel], 
input[type=number], 
input[type=search], 
textarea.materialize-textarea {
    border-bottom: 1px solid #41658A;
}

input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=url]:focus, 
input[type=date]:focus, 
input[type=tel]:focus, 
input[type=number]:focus, 
input[type=search]:focus,
textarea:focus.materialize-textarea {
    border-bottom: 1px solid $dark-green;
    box-shadow: 0 1px 0 0 $dark-green;
}

.input-field input[type=text]:focus + label, 
.input-field input[type=password]:focus + label, 
.input-field input[type=email]:focus + label, 
.input-field input[type=url]:focus + label, 
.input-field input[type=date]:focus + label, 
.input-field input[type=tel]:focus + label, 
.input-field input[type=number]:focus + label, 
.input-field input[type=search]:focus + label, 
.input-field textarea:focus.materialize-textarea + label{
    color: $dark-green;
}

input[type=text].service-input, 
input[type=password].service-input, 
input[type=email].service-input, 
input[type=url].service-input, 
input[type=date].service-input, 
input[type=tel].service-input, 
input[type=number].service-input, 
input[type=search].service-input, 
textarea.materialize-textarea.service-txtarea {
    border-bottom: 1px solid #FFF;
}

.input-field label.service-label {
    color: #FFF;

}

.client-type label {
    color: #41658A;
}


input[type=submit] {
    color: $white;
    background-color: #16a085;
    border: none;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: uppercase;
}

.row .col.form-wrap {
    background: rgba(48, 74, 114, 0.68);
    border-radius: 4px;
    // margin-top: 5%;
}

.row .col.form-input {
    float: none;
    width: 100%;
}



// ============= FOOTER CSS ===========================================
.footer-fixed {
    position: absolute;
    bottom: -80px;
    left: 0;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 6px solid #FFD6A0;
    width: 100%;   
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.16), 0 -2px 3px 0 rgba(0, 0, 0, 0.12);
}

.contact-footer {
    margin-bottom: -80px;
}

.home-footer {
    margin-bottom: -50px;
}

.service-footer {
    margin-bottom: -60px;
}

.copyright,
.social {
    float: left;
}

.copyright {
    padding: 10px;
    font-family: $robotfs;
    font-weight: 300;
    color: $font-color;

    p {
        margin: 0 0 10px 0;
    }

    address {
        font-style: normal;
    }
}

.social {
    padding: 25px 0;
    margin-left: 5%;

    i {
        color: $font-color;
    }
}


.sitemap {
    float: right;
    padding: 25px 0;

    ul {
        list-style-type: none;
        margin: 0;
    }

    ul li {
        float: left;
    }

    ul li a {
        color: $font-color;
        padding: 0 10px;
        font-family: $robotfs;
        font-weight: 300;
    }
}

// ============= SERVICES CSS ===========================================
.service-list {
    ul li {
        font-family: $robotfs;
        color: $font-color;
        font-weight: 500;
        font-size: 18px;
    }

    ul li i {
        color: $orange;
    }
}

    // ============= PT CSS ====================
    .pt-header {
        margin-top: 15px;
        background: url('/images/int_topbanner2.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 285px;
        
    }

    .pt-content {
        h1 {
            // background-color: $orange;
            color: $font-color;
            font-family: $openfs;
            font-weight: 400;
            text-transform: uppercase;
            // opacity: 0.9;
            // padding: 10px 5px;
            // width: 50%;  
            border-bottom: 4px solid $orange;
            padding-bottom: 10px;
            margin: 0;  
        }

        p {
            color: $font-color;
            font-family: $robotfs;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 16px;
            line-height: 28px;
        }
    }

    // ============= ST CSS ==================== 
    .st-header {
        font-size: 3.4rem;
    }

    // ============= HHA CSS ==================== 
    .service-list {
        ul li {
            font-family: $robotfs;
            color: $font-color;
            font-weight: 500;
            font-size: 17px;
            padding: 5px;
        }

        ul li i {
            color: $orange;
        }
    }

// ============= SERVICES CSS ===========================================

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) { 
  
  // ============== GENERAL CSS =======
    .navbar-container {
        width: 100%;
        padding: 0 7px;
    }

    nav {
        .brand-logo {
            font-size: 1rem;
            margin-left: 14px;
            line-height: 54px;
        }

        a.button-collapse i {
            font-size: 2.3rem;
            line-height: 52px;
        }
    }

  // ============== HOMEPAGE CSS =======
    .hhs-site-container {
        width: 100%;
        padding: 0 1rem;
    }

    .hhs-header {
        padding: 0 5px;
        height: 300px;
    }

    .header-content {
        p:nth-child(1) {
            width: 100%;
            margin: 8% 0 0;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.7);
            color: $dark-green;
        }

        p:nth-child(2) {
            display: none;
        }

        p:nth-child(3) {
            width: 100%;
            margin: 3% 0 0;
            text-align: center;
            background-color: rgba(65, 101, 138, 0.7);
        }
    }

    .home-content h4 {
        text-align: center;
        font-size: 1.8rem;
    }

    .card.small {
        height: 215px;
    }

    .card.msw-card {
        height: 285px;

        .card-content {
            height: 205px;
        }
    }

    .quote-container > .q-wrap > .quote > p {
        font-size: 1rem;
    }

    .quote-container > .q-wrap > .quote > p > i {
        font-size: 0.9rem;
    }

    // ============== SERVICE CSS =======
    .service-container {
        padding: 0 0.5rem;

        .row {
            margin: 0;
        }
    }

    .row .service-content {
        padding: 0;
    }

    .row .service-list {
        padding: 0;
    }

    .pt-header {
        background: none;
        height: 0;
    }

    .pt-content { 
        h1 {
            text-align: center;
            font-size: 3.2rem;
        }

        p {
            font-size: 14px;
        }
    }

    .service-list ul li {
        padding: 5px 0;
    }

    .service-form-wrap {
        display: none;
    }

    .service-footer {
        margin-bottom: 0;
    }

        // ============== OT CSS =======
        .pt-content .ot-header {
            font-size: 2.5rem;
        }

        // ============== MSW CSS =======
        .pt-content .msw-header {
            font-size: 2.2rem;
        }

        // ============== HHA CSS =======
        .pt-content .hha-header {
            font-size: 2.9rem;
        }

    // ============== CONTACT CSS =======
    .contact-info-wrap iframe {
        width: 100%;
    }

    .contact-info-wrap p:last-child {
        font-size: 18px;
    }

    // ============== FOOTER CSS =======

    .home-footer {
        bottom: -100px;
        margin-bottom: 0;
    }

    .copyright {
        display: none;
    }

    .social {
        float: none;
        padding: 10px 0;
        text-align: center;
        margin-left: 0;
    }

    .sitemap {
        float: none;
        padding: 0;

        ul {
            text-align: center;
            overflow: auto;
            margin: 0 auto;
            width: 80%;
        }
    }

}

/* ----------- Retina Screens ----------- */
@media only screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) { 

    // ============== GENERAL CSS =======
    nav .brand-logo {
        font-size: 1.1rem;
    }

    nav .nav-wrapper i {
        font-size: 1.6rem;
        line-height: 60px;
    }

    nav ul a {
        font-size: 1.1rem;
    }

    // ============== HOMEPAGE CSS =======
    .header-content p:nth-child(1) {
        width: 65%;
        margin: 2% 0 0 1%;
    }

    // ============== CONTACT CSS =======
    .contact-container {
        width: 70%;
    }

    .contact-info-wrap iframe {
        width: 62%;
    }

}
