@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500);

$white: #FFF;
$clouds: #ecf0f1;
$font-color: #41658A;



body {
    padding-top: 70px;
}

.navbar {
    margin-bottom: 0;
    padding: 8px 0;
}


.navbar-default {
    background-color: $white;
    border-color: $clouds;

    .navbar-brand {
        color: #304A72;
        font-family: 'Cabin';
        font-size: 24px;
        text-transform: uppercase;
    }

    .navbar-brand:hover {
        color: #97D5A4;
    }
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu {
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-family: 'Raleway';
    font-size: 14px;
    text-transform: uppercase;
    color: #304A72;
}

.dropdown-menu li {
    padding: 2px 0;
}

.number-wrap {
    margin: 8px 15px;
}

.navbar-nav .number-wrap > a {
    padding: 8px 12px;
    font-family: 'Cabin' !important;
}

.navbar-default .navbar-nav > li > a {
    color: #304A72;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > .active {
    color: #97D5A4;
    font-weight: 500;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #97D5A4;
}

.btn-default {
    color: $white;
    background-color: #16a085;
    border: none;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: uppercase;
}

.btn-default:hover {
    background-color: #97D5A4;
    color: #34495e;
}

.header-wrap {
    background: url('/images/highrise.jpg') no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    padding: 4% 0;
    text-align: center;

    button {
        margin: 0 auto;
        padding: 16px 26px;
        font-size: 18px;
    }
}

.page-header {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    h1 {
        font-family: 'Cabin';
        color: #304A72;
        font-weight: 400;
        font-size: 92px;    
    }
    
}

.lead {
    font-family: 'Raleway';
    font-weight: 300;
    text-align: center;
    font-size: 42px;
    color: #304A72;
}

.content-header h1 {
    font-family: 'Cabin';
    font-weight: 500;
}

.content-wrap {
    h4 {
        font-family: 'Raleway';
        font-weight: 300;
        text-transform: uppercase;
        font-size: 24px;
        margin-top: 10px;
    }

    p {
        font-family: 'Raleway';
        font-family: 400;
        letter-spacing: 1px;
    }
}


footer {
    height: 50px;
    padding: 5px 0;
    margin-top: 5%;
    border-top: 1px solid $clouds;
}

.footer-wrap ul {
    margin-bottom: 0;
}

.footer-wrap ul li {
    float: left;
    list-style: none;
    padding: 10px;
}

.co-info {
    float: left;
    padding-left: 0;
}

.site-map {
    float: right;
}


