@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500);

@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";


@font-face {
    font-family: "Material-Design-Icons";
    src:url('/fonts/Material-Design-Icons.eot');
    src:url('/fonts/Material-Design-Icons.eot?#iefix') format("embedded-opentype"),
        url('/fonts/Material-Design-Icons.woff') format("woff"),
        url('/fonts/Material-Design-Icons.ttf') format("truetype"),
        url('/fonts/Material-Design-Icons.svg') format("svg");
    font-weight: normal;
    font-style: normal;
}

$white: #FFF;
$clouds: #ecf0f1;
$font-color: #41658A;



body {
    // padding-top: 70px;
}

.fa-none {
    vertical-align: initial;
}

.nav-wrapper {
    background-color: $white;
    border-color: $clouds;

    .brand-logo {
        color: #304A72;
        font-family: 'Cabin';
        // font-size: 24px;
        text-transform: uppercase;
    }

    .brand-logo:hover {
        color: #97D5A4;
    }
}

// ul.nav li.dropdown:hover > ul.dropdown-menu {
//     display: block;    
// }

.dropdown-content {
    font-family: 'Raleway';
    // font-size: 14px;
    text-transform: uppercase;
    color: #304A72;
}

// .dropdown-menu li {
//     padding: 2px 0;
// }

.number-wrap {
    margin: 8px 15px;
}

.navbar-nav .number-wrap > a {
    padding: 8px 12px;
    font-family: 'Cabin' !important;
}

.right > li > a {
    color: #304A72;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: uppercase;
}

.right > li > .active {
    color: #97D5A4;
    font-weight: 500;
}

.right > li > a:hover {
    color: #97D5A4;
}

.btn {
    color: $white;
    background-color: #16a085;
    border: none;
    font-family: 'Raleway';
    font-size: 16px;
    text-transform: uppercase;
}

.btn-default:hover {
    background-color: #97D5A4;
    color: #34495e;
}

.header-wrap {
    background: url('/images/highrise.jpg') no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    padding: 4% 0;
    text-align: center;

    button {
        margin: 0 auto;
        padding: 16px 26px;
        font-size: 18px;
    }
}

.page-header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 7%;

    h1 {
        font-family: 'Cabin';
        color: #304A72;
        font-weight: 400;
        font-size: 92px;    
    }
    
}

.lead {
    font-family: 'Raleway';
    font-weight: 300;
    text-align: center;
    font-size: 42px;
    color: #304A72;
}

.content-header h1 {
    font-family: 'Cabin';
    font-weight: 500;
}

.content-wrap {
    h4 {
        font-family: 'Raleway';
        font-weight: 300;
        text-transform: uppercase;
        font-size: 24px;
        margin-top: 10px;
    }

    p {
        font-family: 'Raleway';
        font-family: 400;
        letter-spacing: 1px;
    }
}


.footer-row {
    margin-bottom: 0;
}

.footer {
    border-top: 1px solid $clouds;
    margin-top: 5%;
}

.footer-wrap {
    height: 50px;
    padding: 5px 0;
    
    ul {
        margin-bottom: 0;

        li{
            float: left;
            list-style: none;
            padding: 10px;
        }
    }
}

.footer-wrap ul {
    margin-bottom: 0;
}

.footer-wrap ul li {
    
}

.co-info {
    float: left;
    padding-left: 0;
    margin-top: 0;
}

.site-map {
    float: right;
    margin-top: 0;
}


// CONTACT -------------------------------------

.form-container {
    margin-top: 5%;
}


